AddHandler application/x-httpd-php82 php

RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^index.html$ / [L,R=301]

ErrorDocument 404 /404.html